@import "@/base.scss";

.login {
  display: flex;
  width: 100vw;
  .loginForm {
    width: 51.6%;
    background-color: var(--white-color);
    display: flex;
    justify-content: center;
    align-items: center;
    .form {
      width: 62.5%;
      .formTitle {
        color: var(--blue-color);
        font-size: 36px;
        font-weight: bold;
        margin-bottom: 20px;
      }
      :global {
        .ant-input {
          border: 1px solid var(--blue-color);
          padding: 10px;
          border-radius: var(--border-radius);
          background-color: var(--background-input);
        }
        .ant-input-password {
          background-color: var(--background-input);
          border: 1px solid var(--blue-color);
          border-radius: var(--border-radius);
          .ant-input {
            border: none;
            padding: 6px 0;
          }
        }
      }
      .forgotPass {
        text-align: right;
        display: block;
        margin-bottom: 10px;
      }
    }
  }
  .loginImg {
    width: 48.4%;
    background-color: #2b1757;
  }
}
