@import "@/base.scss";

.formTitle {
    color: var(--blue-color);
    font-size: 36px;
    font-weight: bold;
    margin-bottom: 20px;
}

.cta {
    display: flex;
    justify-content: flex-end;

    .backBtn {
        margin-right: 10px;
    }
}