@import "@/base.scss";
@import "@/modal.scss";

.admin {
  display: flex;
  align-items: center;
  cursor: pointer;
  margin-left: auto;
  .adminAvatar {
    img {
      width: 50px;
      height: 50px;
      object-fit: cover;
      border-radius: var(--border-radius);
      margin-right: 10px;
    }
  }
}

.modal {
  :global {
    .ant-modal-body {
      padding-top: 20px !important;
    }
    .ant-modal-footer {
      button {
        margin: 0 5px;
      }
    }
  }
}
