@import "@/base.scss";

.tabs {
    background: var(--purple-color);
    border-radius: 8px;
    margin-bottom: 10px;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;

    button {
        background-color: transparent;
        border: none;
        border: 1px solid transparent;
        padding: 10px 12px;
        color: #6C7078;
        margin: 0 30px;
        font-weight: 600;

        &:focus {
            border-bottom: 1px solid #FFCC6A;
            color: #FFCC6A;
        }
    }

    .active {
        font-weight: 600;
        border-bottom: 1px solid #FFCC6A;
        color: #FFCC6A;
    }
}

.content {
    overflow-y: auto;
    overflow-x: hidden;
    background: var(--purple-color);
    border-radius: 8px;
    height: 100%;
    padding: 20px;
    position: relative;

    .header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        border-bottom: 1px solid #383E49;
        padding-bottom: 10px;

        h3 {
            font-size: 19px;
        }

        p {
            font-size: 13px;
        }

        .datePicker {
            :global {
                .ant-picker {
                    background-color: var(--background-color);
                    border-radius: 6px;
                    border: 1px solid #6C7078;

                }
            }
        }
    }

    .pageFilter {
        margin: 20px 0;

        .yellowBtn {
            height: 40px;
            margin-bottom: -38px;
        }
    }


}