.headerUser {
  background: var(--white-color);
  border: 2px solid #e1dfdf;
  border-radius: var(--border-radius);
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 40px;
  margin-bottom: 19px;

  .logout {
    color: var(--primary-color);
    cursor: pointer;
  }
}
