<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <link
      rel="shortcut icon"
      type="image/x-icon"
      href="/src/assets/layer.ico"
    />
    <title>TingTingPay CMS</title>
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, minimum-scale=1"
    />
 
    <link
      rel="preload"
      href="/static/Roboto-Bold.e31fcf18.ttf"
      as="font"
      type="font/ttf"
      crossorigin
    />
    <link
      rel="preload"
      href="/static/Roboto-Regular.df7b648c.ttf"
      as="font"
      type="font/ttf"
      crossorigin
    />
  </head>
  <body>
    <div id="root"></div>
  </body>
</html>
