@import "@/base.scss";

.content {
  overflow-y: auto;
  overflow-x: hidden;
  .boxValue {
    background: var(--background-input-extra);
    border-radius: var(--border-radius);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 40px;
    width: 40%;
    h3 {
      font-size: 20px;
    }
    .value {
      color: var(--blue-color);
      font-weight: 600;
      font-size: 25px;
    }
  }

  .totalList {
    margin-top: 30px;
    .totalItem {
      margin-bottom: 25px;
      h4 {
      }
      .totalValue {
        color: var(--blue-color);
        padding-left: 30px;
        font-size: 20px;
        span {
          font-size: 28px;
        }
      }
    }
  }
}
