@import "@/base.scss";

.content {
  .filterByRole {
    display: flex;
    align-items: center;
    margin-bottom: 25px;
    & > span {
      font-size: 15px;
      color: var(--dark-color);
      padding: 4px 8px;
      border-radius: var(--border-radius);
      cursor: pointer;
      margin: 0 4px;
    }
    & > span.activeRole {
      color: var(--white-color);
      background-color: var(--blue-color);
    }
  }

  .pageFilter {
    justify-content: flex-end;
    .select {
      margin-right: 10px;
      margin-left: 10px;
    }
    .primaryBtn {
      margin-left: auto;
    }
  }
}
