.fullScreen {
  width: 100%;
  display: flex;
  flex-direction: column;
  background-color: var(--background-content);
}

.fullSpace {
  width: 100%;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  padding: 19px 21px 0;
  height: 100vh;
  overflow: hidden;
}
