.fullScreen {
    width: 100%;
    display: flex;
    flex-direction: column;
    background-color: var(--background-content);
}

.fullSpace {
    width: 100%;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    padding-right: 20px;
    margin-top: 80px;
    overflow: hidden;
}