@import "@/base.scss";

.formTitle {
  color: var(--blue-color);
  font-size: 36px;
  font-weight: bold;
  margin-bottom: 20px;
}

.cta {
  display: flex;
  justify-content: flex-end;
  .backBtn {
    margin-right: 10px;
  }
}

.formDesc {
  margin-bottom: 20px;
  font-size: 14px;
}
:global {
  .ant-input {
    border: 1px solid var(--blue-color);
    padding: 10px;
    border-radius: var(--border-radius);
    background-color: var(--background-input);
  }
}
