@import "@/base.scss";

.content {
  .detail {
    & > div {
      display: flex;
      margin-bottom: 10px;
      font-size: 16px;
      & > div {
        color: var(--primary-color);
        margin-left: 5px;
      }
    }
  }
}
